<%- include('partials/header'); -%>

<h1>Home</h1>
<p><%= startingContect %></p>

<% posts.forEach(post => { %>
<h1><%= post.title %></h1>
<p><%= post.content.substring(0,100)+"... " %><a href="/post/<%= post._id %>">Continue reading</a>
</p>

<% }); %> 
<%-include("partials/footer"); -%>
